{
  "branches": [
    {
      "name": "master"
    }
  ],
  "tagFormat": "v${version}",
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits",
        "presetConfig": {},
        "releaseRules": [
          { "type": "feat", "release": "minor" },
          { "type": "fix", "release": "patch" },
          { "type": "docs", "release": "patch" },
          { "type": "style", "release": "patch" },
          { "type": "refactor", "release": "patch" },
          { "type": "test", "release": "patch" },
          { "type": "build", "release": "patch" },
          { "type": "ci", "release": "patch" },
          { "type": "chore", "release": "patch" },
          { "type": "perf", "release": "patch" },
          { "subject": "*\\[skip release\\]*", "release": false },
          { "type": "wip", "release": false }
        ]
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits",
        "presetConfig": {
          "types": [
            { "type": "feat", "section": "🚀 Features" },
            { "type": "fix", "section": "🐛 Bug Fixes" },
            { "type": "docs", "section": "📚 Documentation" },
            { "type": "style", "section": "💎 Styles" },
            { "type": "refactor", "section": "📦 Code Refactoring" },
            { "type": "test", "section": "🚨 Tests" },
            { "type": "build", "section": "🛠 Build System" },
            { "type": "ci", "section": "⚙️ Continuous Integration" },
            { "type": "chore", "section": "♻️ Chores" },
            { "type": "perf", "section": "⚡ Performance Improvements" }
          ]
        }
      }
    ],
    "@semantic-release/changelog",
    [
      "@semantic-release/npm",
      {
        "npmPublish": true
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": ["CHANGELOG.md", "package.json"],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ],
    "@semantic-release/github"
  ]
}
